@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
body {
    height: 100vh;
    width: 100vw;

    background-color: rgb(255, 250, 235);
}



.div-top{

    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-around;


    padding: 10px;
}

.sessoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    background-color: white;
    box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.103);
    padding-left: 0px;

    height: 60px;
}
.sessoes > li {
    list-style: none;

}

li > a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;

    width: 150px;   

}

a:visited {
    color: black;
}


#carrinho {
    display: flex;
    flex-direction: row;
}
#quantidade-itens-carrinho {
    display: inline;
    position: relative;
    top: -5px;

    background-color: red;
    color: white;
    font-weight: 700;

    border-radius: 100%;

    text-align: center;
    padding-bottom: 2px;

    width: 22px;
    height: 20px;
}

#div-carrinho {
    display: none;
}

#carrinho-pop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position: fixed;
    top: 0px;
    
   

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.629);
}

#side-carrinho {
    background-color: white;
    width: 80vw;
    padding: 15px;

    display: flex;
    flex-direction: column;
}
#lista-itens-adicionados {
    padding-left: 25px;
    
}
#lista-itens-adicionados > li > h1 {
    font-size: 1.4em;
}

.div-carrinho-vazio {
    position: relative;
    top: 350px;
    left: -10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carrinho-vazio {
    font-size: 2em;
    text-align: center;
}
.button-voltar {
    margin-top: 10px;
    width: 150px;
    
    padding: 5px;
    border-radius: 10px;
}












.div-botaoTopo {
    display: block;
}

#botaoTopo {
    position: fixed;
    width: 100%;
    top: 85%;
    display: flex;
    justify-content: center;


}

#botaoTopo > a{

    position: relative;
    top: 70%;



    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: solid 3px black;
    box-shadow: 2px 5px 0px 0px black;

    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}




.div-sessao {
    margin-top: 30px;
    margin-left: 20px;
}

.itens-list {
    margin-top: 20px;
    padding-left: 7px;
}


.item {
    margin-bottom: 20px;
    margin-right: 25px;
    list-style: none;

    padding: 15px;
    padding-bottom: 20px;
    max-width: 80vw;

    background-color: white;

    border: solid 3px black;
    border-radius: 8px;
    box-shadow: 2px 2px 0px 1px black;

    transition: all 0.5s ease-in;
}

.item > h2 {
    max-width: 300px;
    font-weight: 600;
}
.item > span {
    display: block;
    margin-top: 5px;
    padding-right: 5px;
    
}

.price {
    margin-top: 10px;
}

.pricebutton {
    display: inline-block;
    padding: 0px 5px 0px 5px;
    border-radius: 4px;
    width: 30px;
    text-align: center;

    font-size: 1.3em;
}



#removebutton {
    background-color: rgba(255, 0, 0, 0.353);
    margin-right: 15px;
    transition: all 0.3s ease;
}
#removebutton:active {
    background-color: rgba(129, 3, 3, 0.797);
}


#addbutton {
    background-color: rgba(0, 255, 68, 0.353);
    margin-left: 15px;
    transition: all 0.3s ease;
}
#addbutton:active {
    background-color: rgba(0, 136, 36, 0.815);
}



.adicionais {
    padding: 20px;
}
.item-adicional {
    margin-bottom: 15px;
}





footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 110px;
    text-align: center;
    background-color: rgb(45, 90, 45);
    color: white;
    height: 40px;

    padding: 20px;
}

footer > p{
    font-size: 0.9em;
}

footer > p > a {
    text-decoration: underline;
    font-weight: 600;

}